*{background-color:rgb(190, 219, 249);
    
}
h1{
color:sienna;
}
textarea{
    background-color: rgb(251, 230, 251);
    border: solid;
    width: 400px;

}
button{
background-color:rgb(201, 231, 173);
width: 80px
}
